html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: black;
  color: white;
}

.social-links {
  margin: auto;
  max-width: 500px;
}

.link-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  vertical-align: baseline;
  transition: all 0.2s;
}

.link-icon:hover {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.5)
}

.brand-large {
  font-size: 2.5rem;
  margin-top: 5vh;
  width: 100%;
  max-width: 650px;
  overflow: hidden;
}

.site-link {
  margin: 10px;
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
  vertical-align: baseline;
  border-bottom: thin solid transparent;

  transition: all 0.3s;
}

.description {
  margin: auto;
  max-width: 650px;
}

.site-link:hover {
  /* transform: translateY(-2px); */
  /* padding-bottom: 2px; */
  border-bottom-color: white;
  cursor: pointer;
}

@media (max-width: 470px) {
  .site-link {
    display: table;
    margin: 5px auto;
  }

  .site-link:hover {
    transform: none;
    padding-bottom: 0px;
  }
}
